.fillerShowcase-flex-container2 {
    display: flex;
    width: 100%;
    /* background-color: #2196F3; */
    height: 95vh;
}

.fillerShowcase-item2 {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-color: #336d9c; */
}

.left2 {
    object-fit: cover;
}

video {
    object-fit: cover;
}

.right2 {
    justify-content: center;
    color: var(--color-bg);
    font-family: var(--font);
    position: relative;
    object-fit: cover;
}


.image-caption2 {
    position: absolute;
    padding-bottom: 2rem;
}




/* ######################################################### */

/* ==========MEDIA QUERIES (medium devices) ========= */
@media screen and (max-width:1024px) {
    .fillerShowcase-flex-container2 {
        display: flex;
        flex-direction: row;
        /* background-color: #336d9c; */
        height: 150vh;
    }

    .fillerShowcase-item2 {
        height: 75vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}

/* ==========MEDIA QUERIES (small devices) ========= */
@media screen and (max-width:600px) {
    .fillerShowcase-flex-container2 {
        display: flex;
        flex-direction: column;
        height: 95vh;
        /* margin-top: 95.3vh; */
    }

    .fillerShowcase-item2 {
        height: 65vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}