/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@0;1&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a {
	color: var(--color-font);
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
:root {

  /* --color-bg:#662549;
  --color-theme:#D2DE32; */
  /* --color-bg:#FBA1B7;
  --color-theme:#191D88; */
  /* --color-bg:#FFD28F;
  --color-theme:#black; */
  /* --color-bg:#161A30;
  --color-theme:#F5CCA0; */
  /* --color-bg:#141E46;
  --color-theme:#FF6969; */
  /* --color-bg:#3E001F;
  --color-theme:#FFE5AD; */
  /* --color-bg:#982176;
  --color-theme:#FFE5AD; */
  /* --color-bg:#4C0033;
  --color-theme:#FF74B1; */
  /* --color-bg:#850E35;
  --color-theme:#FFF5E4; */
  --color-bg:#2B2A4C;
  --color-theme:gold;

  --font: 'Playfair Display SC', serif;
  
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.outline {
  border: solid 1px black;
}

.caption-heading{
  font-family: var(--font);
}
.caption-info{
  font-family: var(--font);
  font-size: 1rem;
}
.caption-link{
  font-family: var(--font);
  color: var(--color-theme);
  cursor: pointer;
  font-style: italic;
}
.caption-link:hover{
  color: gold;
}

/* ######################################################### */

/* ==========MEDIA QUERIES (medium devices) ========= */
@media screen and (max-width:1024px) {
  .caption-heading{
    font-size: 1.5rem;
  }
  .caption-info{
    font-family: var(--font-word);
    font-size: 1.2rem;
  }
  .caption-link{
    font-family: var(--font-word);
  }
 }

 /* ==========MEDIA QUERIES (small devices) ========= */
 @media screen and (max-width:600px) {

 }