#banner {
    background-color: var(--color-secondary);
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4rem;
    font-family: var(--font-word);
}
#banner>ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255, 146, 4); */
}
.logo {
    width: 1rem;
}

.logo2 {
    width: 2rem;
    padding: 0 2px;
}

a {
    color: var(--color-bg);
}


/* ###################################### */


@media only screen and (max-width: 1024px) {

    #banner {
        justify-content: space-around;
        /* padding: 0.5rem; */
    }

    #banner > ul {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        /* background-color: rgb(163, 136, 101); */
    }

}


/* ==========MEDIA QUERIES (small devices) ========= */
@media screen and (max-width:600px) {
    #banner {
        justify-content: space-between;
        padding: 0.2rem;
    }

    #banner > ul {
       font-size: small;
    }

    .logo {
        width: .6rem;
    }
    
    .logo2 {
        width: 1.2rem;
        padding: 0 1px;
    }
}